.footer {
    width: 100%;
    height: 126px;
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15vw;
    gap: 4px;
}

.label {
    font-family: var(--main-font);
    font-weight: 300;
    color: #525252;
    font-size: 0.8rem;
}


