html,
body {
    overflow-y: scroll;
}

.main {
    width: 100%;    
    height: fit-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-label {
    margin: 120px 0 40px 0;
    color: var(--white);
    font-weight: 400;
    font-size: 1.4rem;
}

.form-container {
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    padding: 4vh 20vw 4vh 20vw;
    overflow-y: scroll;
}

form,
.select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input-label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
}

textarea {
    resize: none;
}

#desc {
    height: 82px;
}

#code {
    height: 170px;
}

#codeExplain {
    height: 100px;
}

#concept {
    height: 100px;
}

.input-field {
    height: 42px;
    padding: 10px;
    outline: none;
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--gray);
    background-color: var(--white);
}

.submit-button {
    cursor: pointer;
    margin: 100px 0;
    width: 50%;
    align-self: center;
    height: 60px;
    background-color: var(--main-color);
    border-radius: 10px;
    color: #fff;
    border: none;
    transition: 0.2s;
}

.submit-button:hover {
    background-color: #4e1c7e
}

.category-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


select {
    height: 42px;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
}

